.icon{
    background-color: rgb(45, 45, 192);
    color: #fff;
    cursor: pointer;
}
.icon:hover:nth-child(1){
color: #AA55FF;
}
.icon:hover:nth-child(2){
color: #0c00f8;
}
.icon:hover:nth-child(3){
color: #ff1b4d;
}
@media (max-width: 575.98px) {
    .footer-custom{
        display: block;
        text-align: center;
    }
 }